# {{.Title}}
{{.Description}}
{{range $name, $schema := .Properties.Schemas}}
/* * $schema.MarkdownLink() */
/* {{range .Links}}    */
/*   * .MarkdownLink() */
/* {{end}}             */
{{end}}

{{range $name, $schema := .Properties.Schemas}}
## {{$schema.Title}}
{{$schema.Description}}

### Properties
{{range $name, $property := $schema.Properties.Schemas}}
* {{$name}}
{{if $property.Description}}
  * {{$property.Description}}
{{end}}
{{if $property.Example}}
  * Example: `{{$property.Example.TypedString}}`
{{end}}
{{if $property.Type}}
  * Type: {{$property.Type.String}}
{{end}}
{{if $property.Pattern}}
  * Pattern: `/{{$property.Pattern}}/`
{{end}}
{{end}}

{{range $i, $link := $schema.Links}}
### {{$link.Method}} {{$link.HRef.ColonString}}
{{$link.Description}}

{{if $link.Schema}}
{{range $name, $property := $link.Schema.Properties.Schemas}}
* {{$name}}
{{if $property.Description}}
  * {{$property.Description}}
{{end}}
{{if $property.Example}}
  * Example: `{{$property.Example.TypedString}}`
{{end}}
{{if $property.Type}}
  * Type: {{$property.Type.String}}
{{end}}
{{if $property.Pattern}}
  * Pattern: `/{{$property.Pattern}}/`
{{end}}
{{end}}

{{end}}
```
{{$link.Method}} {{$link.HRef.ExampleString}}{{$link.QueryString}} HTTP/1.1
<%= "Content-Type: #{link.content_type}\n" if link.has_request_body? -%>
Host: <%= schema.host_with_port %>
<%= "\n" + link.request_body if link.has_request_body? -%>
```

```
HTTP/1.1 <%= link.response_status %> <%= link.response_reason_phrase %>
<%= "Content-Type: application/json" if link.has_response_body? -%>
<%= "\n\n#{link.response_body}\n" if link.has_response_body? -%>
```

{{end}}
{{end}}
