# {{.Title}}
{{.Description}}
{{range $name, $schema := .Properties.Schemas}}
/* * $schema.MarkdownLink() */
/* {{range .Links}}    */
/*   * .MarkdownLink() */
/* {{end}}             */
{{end}}

{{range $name, $schema := .Properties.Schemas}}## {{$schema.Title}}

{{if $schema.Description}}{{$schema.Description}}

{{end}}### Properties

{{range $name, $property := $schema.Properties.Schemas}}* {{$name}}
{{if $property.Description}}  * {{$property.Description}}
{{end}}{{if $property.Example}}  * Example: `{{$property.Example.TypedString}}`
{{end}}{{if $property.Type}}  * Type: {{$property.Type.String}}
{{end}}{{if $property.Pattern}}  * Pattern: `/{{$property.Pattern}}/`
{{end}}{{end}}
{{range $i, $link := $schema.Links}}### {{$link.Method}} {{$link.HRef.ColonString}}

{{if $link.Description}}{{$link.Description}}

{{end}}{{if $link.Schema}}{{range $name, $property := $link.Schema.Properties.Schemas}}* {{$name}}
{{if $property.Description}}  * {{$property.Description}}
{{end}}{{if $property.Example}}  * Example: `{{$property.Example.TypedString}}`
{{end}}{{if $property.Type}}  * Type: {{$property.Type.String}}
{{end}}{{if $property.Pattern}}  * Pattern: `/{{$property.Pattern}}/`
{{end}}{{end}}{{end}}
```
{{$link.Method}} {{$link.Endpoint}}{{$link.QueryString}} HTTP/1.1{{if $link.HasRequestBody}}
Content-Type: {{$link.RequestContentType}}{{end}}
Host: {{$schema.Host}}{{if $link.HasRequestBody}}

{{$link.RequestBody}}{{end}}
```

```
HTTP/1.1 {{$link.ResponseStatus}} {{$link.ResponseReasonPhrase}}{{if $link.HasResponseBody}}
Content-Type: {{$link.ResponseContentType}}{{end}}{{if $link.HasResponseBody}}

{{$link.ResponseBody}}{{end}}
```

{{end}}{{end}}
