# {{.Title}}
{{.Description}}

{{range $name, $schema := .Properties.Schemas}}- [{{$schema.Title}}]({{urlHash $schema.Title}})
{{range $i, $link := $schema.Links}}  - [{{$link.MethodEndpoint}}]({{urlHash $link.MethodEndpoint}})
{{end}}{{end}}
{{range $name, $schema := .Properties.Schemas}}
## {{$schema.Title}}

{{if $schema.Description}}{{$schema.Description}}

{{end}}### Properties

{{range $name, $property := $schema.Properties.Schemas}}- {{$name}}
{{if $property.Description}}  - {{$property.Description}}
{{end}}{{if $property.Example}}  - Example: `{{$property.Example}}`
{{end}}{{if $property.Type}}  - Type: {{$property.Type}}
{{end}}{{if $property.Pattern}}  - Pattern: `/{{$property.Pattern}}/`
{{end}}{{if $property.Format}}  - Format: {{$property.Format}}
{{end}}{{if $property.ReadOnly}}  - ReadOnly: {{$property.ReadOnly}}
{{end}}{{end}}{{range $i, $link := $schema.Links}}

### {{$link.MethodEndpoint}}

{{if $link.Description}}{{$link.Description}}

{{end}}{{if $link.Schema}}{{range $name, $property := $link.Schema.Properties.Schemas}}- {{$name}}
{{if $property.Description}}  - {{$property.Description}}
{{end}}{{if $property.Example}}  - Example: `{{$property.Example}}`
{{end}}{{if $property.Type}}  - Type: {{$property.Type}}
{{end}}{{if $property.Pattern}}  - Pattern: `/{{$property.Pattern}}/`
{{end}}{{end}}{{end}}
```http
{{$link.Method}} {{$link.ExampleEndpoint}}{{$link.QueryString}} HTTP/1.1{{if $link.HasRequestBody}}
Content-Type: {{$link.RequestContentType}}{{end}}
Host: {{$schema.Host}}{{if $link.HasRequestBody}}

{{$link.RequestBody}}{{end}}
```

```http
HTTP/1.1 {{$link.ResponseStatus}} {{$link.ResponseReasonPhrase}}{{if $link.HasResponseBody}}
Content-Type: {{$link.ResponseContentType}}{{end}}{{if $link.HasResponseBody}}

{{$link.ResponseBody}}{{end}}
```{{end}}{{end}}
